.comisiones__texto{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
}

@media (min-width: 768px){
    .comisiones__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5rem;
        align-items: flex-end;
    }

    .comisiones__texto{
        text-align: left;
    }
}