.navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.navegacion__link{
    color: var(--primario);
}

@media (min-width: 768px){
    .navegacion{
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
    }

    .navegacion__link{
        color: var(--blanco);
    }
}