.nucleus{
    margin-top: 3rem;
}

.nucleus__heading{
    text-align: center;
    margin-bottom: 5rem;
}

/* .nucleus__contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
    padding: 5rem 0;
} */

.nucleus__grid{
    display: flex;
    flex-direction: column-reverse;
}



@media (min-width: 768px){
    .nucleus__grid{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 5rem;
        align-items: center;
    }
    
}